* {
color: whitesmoke;
}
/* Header:
Background Color: Linear Gradient Yellow to Orange
White Text 
BootStrap Header Fixed*/

/* Body Background Color: Lightest Baby Blue */
body {
    background-color: rgb(103, 184, 250);
}

.navbar {
background-image: linear-gradient(to bottom right, yellow, Orange);
font-weight: bolder;
color: whitesmoke;
font-size: xx-large;
text-align: center;
}

.navbar p{
    margin-left: 20px;
}


/* Headings: */
form h2{
    margin-top: 10px;
    margin-left: 50px;
}
/* Input Box: */
.input-group {
    width: 260px;
    margin-left: 50px;
}
/* Search Button: */
.submit{
    color: black;
    margin-left: 150px;
}
/* Search Button Hover: */

hr {
    margin-left: 15px;
}
/* Automatic City Buttons: 
Background Color: Black
Text Color: Orange */
.autolctn{
    color: black;
    margin: 10px;
    margin-left: 15px;
    width: 250px;
}
/* Automatic City Button Hover: */

/* .container-weather: */
#current-city p {
    font-size: large;
    text-align: center;
    background-color: orange;
    /* border: 30px;
    border-color: black;
    border-radius: 30%; */
}

#current-city i{
    text-align: center;
}

/* 5-Day Forecast: */

/* Footer:
Background Color: Linear Gradient Yellow to Orange */
.footer {
color:whitesmoke;
font-size: medium;
    }
